* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: whitesmoke;
  overflow: hidden;
  user-select: none;
}

h2 {
  text-align: center;
  font-size: 3em;
  color: #e94d58;
  margin: 15px 0;
}

.btn-group {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

button {
  position: absolute;
  width: 150px;
  height: inherit;
  color: white;
  font-size: 1.2em;
  border-radius: 30px;
  outline: none;
  cursor: pointer;
  box-shadow: 0 2px 4px gray;
  border: 2px solid #e94d58;
  font-size: 1.2em;
  transition: all 0.3s ease;
}

.yes-btn:hover {
  transform: scale(1.1);
}

button:nth-child(1) {
  margin-left: -200px;
  background: #e94d58;
}

button:nth-child(2) {
  margin-right: -200px;
  background: white;
  color: #e94d58;
}

.gif {
  display: block;
  margin: 0 auto;
  position: relative;
  z-index: 0;
}

.container {
  max-width: 600px;
  min-height: 200px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #333333;
  margin-top: 0;
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center; /* Add this line to center the text */
}


p {
  color: #666666;
  font-size: 16px;
  margin-bottom: 10px;
  text-align: justify;
}

.signature {
  position: relative; /* Ensure that the signature div acts as the positioning context */
}


.signature p {
  margin-bottom: 0;
  font-weight: bold;
  font-size: 18px;
}

.container {
  min-height: 520px; /* Adjust the min-height to make the container taller */
  max-width: 600px; /* You can adjust the max-width as needed */
  padding: 20px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.snowflake {
  position: absolute;
  background-color: #ffffff;
  border-radius: 50%;
  pointer-events: none;
  animation: snowfall linear infinite;
}

.love-letter-gif {
  display: block;
  margin: 20px auto; /* Adjust margin as needed */
  max-width: 10%; /* Ensure the GIF doesn't exceed its container's width */
  width: 200px; /* Set the width of the GIF */
  height: auto; /* Automatically adjust the height to maintain the aspect ratio */
}



@keyframes snowfall {
  0% {
    transform: translateY(-10vh) rotate(0deg);
  }
  100% {
    transform: translateY(110vh) rotate(360deg);
  }
}

/* Position the hover texts relative to the viewport */
.text-below {
  position: fixed;
  margin-top: -80px; /* Adjust as needed */
  left: 50%;
  transform: translateX(-50%);
  font-size: 18px;
  font-weight: bold;
  color: rgb(110, 57, 57);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity 1.5s ease;
  z-index: 1;
}

/* Style the hover text */
.text-below.fade-in {
  opacity: 1;
}



#love-letter-gif-container {
  position: relative; /* Change from fixed to relative */
  margin-top: -50px; /* Adjust as needed */
  margin-right: 0px; /* Adjust as needed */
  z-index: 1000; /* Ensure it's above other elements */
}

#love-letter-gif {
  max-width: 100px; /* Adjust width if necessary */
  max-height: 100px; /* Adjust height if necessary */
}

.nav h1,
.slider h1 {
  letter-spacing: 0.5rem;
  color: #03dac6;
  transition: all 0.3s ease;
  z-index: 3;
}

h1:hover {
  transform: translate3d(0, -10px, 22px);
  color: #ff0266;
}

.word {
  font-family: Arial, sans-serif;
    perspective: 1000px; 
    text-align: center; /* Center the text horizontally */

    
  }
  
  .word span {
    cursor: pointer;
    display: inline-block;
    font-size: 30px;
    user-select: none;
    line-height: .8;
    color: #090909; /* Change the color to red */
  }
  
  .word span:nth-child(1).active {
    animation: balance 1.5s ease-out;
    transform-origin: bottom left;
  }
  
  @keyframes balance {
    0%, 100% {
      transform: rotate(0deg);
    }
    
    30%, 60% {
      transform: rotate(-45deg);
    }
  }
  
  .word span:nth-child(2).active {
    animation: shrinkjump 1s ease-in-out;
    transform-origin: bottom center;
  }
  
  @keyframes shrinkjump {
    10%, 35% {
      transform: scale(2, .2) translate(0, 0);
    }
    
    45%, 50% {
      transform: scale(1) translate(0, -150px);
    }
    
    80% {
      transform: scale(1) translate(0, 0);
    }
  }
  
  .word span:nth-child(3).active {
    animation: falling 2s ease-out;
    transform-origin: bottom center;
  }
  
  @keyframes falling {
    12% {
      transform: rotateX(240deg);
    }
    
    24% {
      transform: rotateX(150deg);
    }
    
    36% {
      transform: rotateX(200deg);
    }
    
    48% {
      transform: rotateX(175deg);
    }
    
    60%, 85% {
      transform: rotateX(180deg);
    }
    
    100% {
      transform: rotateX(0deg);
    }
  }
  
  .word span:nth-child(4).active {
    animation: rotate 1s ease-out;
  }
  
  @keyframes rotate {
    20%, 80% {
      transform: rotateY(180deg);
    }
    
    100% {
      transform: rotateY(360deg);
    }
  }
  
  .word span:nth-child(5).active {
    animation: toplong 1.5s linear;
  }
  
  @keyframes toplong {
    10%, 40% {
      transform: translateY(-10vh) scaleY(1);
    }
    
    90% {
      transform: translateY(-vh) scaleY(2);
    }
  }

  canvas {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
  }
  
  .circle {
    --circle-size: 40px;
    position: fixed;
    height: var(--circle-size);
    width: var(--circle-size);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 100%;
    top: calc(var(--circle-size) / 2 * -1);
    left: calc(var(--circle-size) / 2 * -1);
    pointer-events: none;
    z-index: 9999; /* Bring the circle to the front */
  }
  
  /* For mobile devices */
@media only screen and (max-width: 600px) {
  body {
    overflow: hidden;
  }

  .btn-group {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .yes-btn {
    width: 150px;
    height: 40px;
    color: white;
    font-size: 1.2em;
    border-radius: 30px;
    outline: none;
    cursor: pointer;
    box-shadow: 0 2px 4px gray;
    border: 2px solid #e94d58;
    background: #e94d58;
    margin-right: 10px;
    transition: all 0.3s ease;
    right: calc(20% + 85px);
    transition: all 0.3s ease;
  }

  .yes-btn.centered {
    right: 50%;
    transform: translateX(50%);
  }

  .no-btn {
    width: 150px;
    height: 40px;
    color: #e94d58;
    font-size: 1.2em;
    border-radius: 30px;
    outline: none;
    cursor: pointer;
    box-shadow: 0 2px 4px gray;
    border: 2px solid #e94d58;
    background: white;
    margin-left: 10px;
    right: calc(38% + 85px);
  }

  .button:nth-child(2) {
    margin-left: 5px;
  }

  .gif {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
  }
}

.aesthetic {
  background-color: #ffdbdb;
  padding: 2%;
  border-radius: 10px;
  margin-bottom: 2%;
  font-size: 16px;
  line-height: 1.3;
  text-align: center;
  position: relative;
}
